@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

.address {
  display: flex;
  justify-content: start;
  align-content: space-between;
  padding-top: 5px;
  font-style: normal;
}

.menu-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
