.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cover__image {
  width: 1100px;
}

.cover__title {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1083px;
  margin: 166px 57px 0 38px;
}

.aligned-text {
  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  margin-left: 47px;
}

.aligned-text_center {
  margin-top: 12px;
  margin-left: 332px;
  letter-spacing: 60px;
}

.aligned-text_right {
  margin-top: 4px;
  padding-left: 630px;
}

.letter-spacing-extended {
  letter-spacing: 61px;
}

.no-letter-spacing {
  letter-spacing: 29px;
}

.cover__description {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 667px;
  margin-right: 50px;
  margin-left: -8px;
}

.cover__description-text {
  max-width: 637px;
  margin-right: 78px;
  margin-left: 78px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: start;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  margin-top: -12px;
  margin-right: -6px;
  border: 2px solid #fff;
  padding: 12px 30px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0);
}