.cover {
  position: relative;
  z-index: -1;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cover__image-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: 1/2;
  justify-content: space-between;
}
.cover__image {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.cover__title-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: 1/2;
  justify-content: space-between;
}

.cover__title {
  z-index: 2;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 166px;
}

.aligned-text {
  min-width: 1100px;
  padding-right: 20px;
  padding-left: 50px;
  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 12px;
  padding-left: 20px;
  letter-spacing: 60px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 4px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 61px;
}

.no-letter-spacing {
  letter-spacing: 29px;
}

.cover__description {
  z-index: 2;
  display: flex;
  flex-direction: row;
  grid-area: 1/2;
  justify-content: space-evenly;
  margin-top: 640px;
  padding-left: 0;
}

.cover__description-text {
  display: grid;
  justify-content: start;
  align-content: start;
  padding-top: 27px;
  padding-right: 40px;
  padding-left: 35px; 
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: start;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button-wrapper {
  display: block;
  padding-top: 15px;
  padding-right: 8px;
}

.bet-button {
  display: grid;
  justify-content: center;
  align-content: start;
  border: 2px solid #fff;
  padding: 12px 30px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0);
}