.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 175px;
  margin-left: 50px;
}

.footer__menu {
  display: flex;
  padding-top: 8px;
  padding-right: 80px;
  padding-left: 75px;
}

.footer__menu-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  column-gap: 35px;
  line-height: 21.13px;
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 45px;
  padding-top: 3px;
  padding-right: 50px;
  list-style-type: none;
}

.footer__social-icon {
  height: 50px;
}