.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  margin: 180px 50px 88px 50px;
}

.footer_address {
  width:100%;
  min-height: 100px;
}

.footer__address-position {
  padding-left: 10px;
  padding-top: 2px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  column-gap: 45px;
  width:100%;
  min-height: 100px;
  margin-top: 3px;
  margin-left: -30px;
}

.footer__menu-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 35px;
  line-height: 21.13px;
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 45px;
  width:100%;
  min-height: 100px;
  padding-right: 92px;
  list-style-type: none;
}

.footer__social-icon {
  height: 50px;
}