.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
  margin: 92px 60px 91px 24px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  padding-right: 0;
  padding-left: 25px;
}

.header__links-list {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 32px;
  line-height: 21.13px;
  text-align: left;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__logo {
  margin-right: 145px;
}

.header__logo-image {
  display: block;
  align-items: stretch;
  width: 135px;
  margin-top: 1px;
}

.header__address {
  margin-bottom: 5px;
  padding-left: 0;
}