.lots {
  width: 100%;
  margin-top: 179px;
}

.lots__heading {
  display: grid;
  grid-auto-flow: row;
  padding-left: 64px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  position: relative;
  z-index: 1;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 25px;
  padding: 27px 24px 28px 24px;
  overflow: auto;
  list-style-type: none;
  
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  position: relative;
  display: grid;
  width: 334px;
  max-width: 100%;
  min-height: 563px;
  background-position: center;
}

.lots__card_image {
  display: flex;
  grid-area: 1/2;
}

.lots__card_content {
  display: flex;
  flex-direction: column;
  grid-area: 1/2;
  justify-content: space-between; 
}
.card__title {
  z-index: 1;
  display: block;
  padding: 50px 30px 0px 38px;
  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0 40px 50px 40px;
  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
}

.card-link {
  text-decoration: none;
}

.lots__look-more {
  padding-left: 64px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-underline-offset: 5px;
}

.lots__look-more-link {
  text-decoration: underline;
}